@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');


* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-hover-colour: #E27D60;
}

body {
  background-color: 	#41B3A3;
} 
/* navbar */


/* hero section */



.jumbotron div a {
  width: 50%;
  border-radius: 50px;
  border-color: white;
  background-color: transparent;
} 

.jumbotron div a:hover {
  background-color: var(--text-hover-colour);
  border-color: #e8a87c;
}

 /* my skills/about me section */

 /* My work section */
 .card-image-coming {
  height: 30vh;
  
  
}
 /* contact me section */

 /* footer section  */