@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');


* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-hover-colour: #E27D60;
}

body {
  background-color: 	#41B3A3;
} 


/* navbar */

#nav-heading {
  font-size: 30px;
  color: #E27D60;
}

li a {
  text-decoration: none !important;
  color: black !important;
}

li a:hover {
  color: #E27D60 !important;
}

/* hero section */



.jumbotron div a {
  width: 40%;
  border-radius: 50px;
  border-color: white;
  background-color: transparent;
} 

.jumbotron div a:hover {
  background-color: var(--text-hover-colour);
  border-color: #e8a87c;
}

 #ahmed-ibrahim {
  background-image: url(./images/IMG_2134.jpg);
  background-repeat: no-repeat;
  background-size: contain;
 }
 /* my skills/about me section */
#About-Me {
  margin-top: 100px;
}

 /* My work section */
#my-work {
  margin-top: 100px;
}

 .card-image-coming {
  height: 30vh;
}
 /* contact me section */

 #contact {
  margin-top: 100px;
 }

 /* footer section  */

 #footer-margin {
  margin-top: 100px;
  background-color: black;
  height: 100px;
  align-items: center;
 }

 i {
  font-size: 30px;
 }


